*{
  font-family: 'Ubuntu', sans-serif;
}

.container {
  width: 70%;
  margin: auto;

  .search{
    display: flex;
    justify-content: space-between;
  }
  .input{
    width: 90%;
    height: 40px;
    font-size: 1.1em;
  }

  .table{
    width: 100%;
  }
  tbody{text-align: center}
}
th{
  text-align: center;
}
